body{
    font-family: "Acme", sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    font-family: "Acme", sans-serif;
}
#navtop{
    background-color:#E8547E;
    color: white;
    display: inline;
    
}
#section1{
    background-color: #F5D2C8;
}
#section1 a{
    text-decoration: none;
    color: white;
}

#navbar2{
    background-color:  #fff; 
}
#searchbox{
    border-radius: 20px;
    border: 1px solid rgb(80, 16, 16);
}
#btn1{
    background-color: rgba(99, 0, 0, 0.658);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#navbar2 a{
    padding-top: 20px;
    text-decoration: none;
    color:  #E62F66;
    display: inline-block;
    
}
#navbar2 a:hover{
    text-decoration: underline;
    color: rgb(251, 79, 79);
    color: black;
}
#navbar2 i:hover{
    color: black;
}
#navbar-toggler{
    background-color: #F5D2C8;
    
}
#navbar3{
    background-color: #F5D2C8;
    margin-top: 3px;
    font-size: 20px;
    
}
#navbar3 a{
    color: #E62F66;
}
#navbar3 a::after{
    content: '';
    width: 0;
    height: 3px;
    display: block;
    background-color: #ffffff;
}
#navbar3 a:hover::after{
    width: 100%;
}

#dropdown-btn{
    color: #E62F66;
}